apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}
  namespace: {{ k8s_namespace }}
  labels:
    app: {{ app_name }}
spec:
  selector:
    app: {{ app_name }}
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
