apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ app_name }}
  namespace: {{ k8s_namespace }}
  labels:
    app: {{ app_name }}
    release: kps
spec:
  selector:
    matchLabels:
      app: {{ app_name }}
  endpoints:
    - port: http
      path: /metrics
      interval: 15s
      scrapeTimeout: 10s
