.git
.gitignore
.venv
venv
__pycache__
*.pyc
.pytest_cache
.coverage
coverage.xml
htmlcov
tests/
infra/
deploy/
monitoring/
docs/
README.md
Jenkinsfile
sonar-project.properties
docker-compose*.yml
.scannerwork
